<div class="container footer">
  <div class="row justify-content-center">

    <div class="col-6 col-md-3 col-lg-2">
      <h4>{{ 'general' | translate}}</h4>
      <ul class="list">
        <li><a href="/support" data-translate-key="support">{{ 'support' | translate}}</a></li>
        <li><a href="/contact" data-toggle="modal" data-target="#contact-us-modal">{{ 'contact' | translate}}</a></li>
        <li><a href="/language">{{ 'language' | translate}}</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <h4>{{ 'account' | translate}}</h4>
      <ul class="list">
        <li><a href="/login" data-translate-key="sigin">{{ 'login' | translate}}</a></li>
        <li><a href="/join" data-translate-key="join">{{ 'signup' | translate}}</a></li>
        <li><a href="/recover" data-translate-key="recover">{{ 'recover' | translate}}</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <h4>{{ 'legal' | translate}}</h4>
      <ul class="list">
        <li><a href="/terms" data-translate-key="terms">{{ 'terms' | translate}}</a></li>
        <li><a href="/privacy" data-translate-key="privacy">{{ 'privacy' | translate}}</a></li>
        <li><a href="/cookie" data-translate-key="cookies">{{ 'cookies' | translate}}</a></li>
      </ul>
    </div>
  </div>

  <div class="socials">
    <a href="https://www.facebook.com/treintelaat" target="_blank" title="treintelaat.be op facebook">
      <div class="icon social fb"><i class="fab fa-facebook-f" aria-hidden="true"></i></div>
    </a>
    <a href="https://twitter.com/treintelaat" target="_blank" title="treintelaat.be op twitter">
        <div class="icon social"><i class="fab fa-twitter" aria-hidden="true"></i></div>
    </a>
    <a href="https://instagram.com/treintelaat" target="_blank" title="treintelaat.be op instagram">
        <div class="icon social"><i class="fab fa-instagram" aria-hidden="true"></i></div>
    </a>

  </div>

</div>

<div class="copyright"><div>© Copyright {{ year }} - treintelaat.be - <span>{{ 'allRights' | translate}}</span>.</div></div>

